
*.lst
*.dis
*.bin
*.elf
*.hex
*.o
*.map

/tmp/

/build
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
compile_commands.json

*.swp
*.swo
*.swn
*~
.*.sw?
*.un~

/.vscode/

/.idea/

*.log
*.d
*.dep

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

.gdb_history
.gdbinit

*.bak
tags

